[submodule "mavlink/include/mavlink/v1.0"]
	path = mavlink/include/mavlink/v1.0
	url = git://github.com/mavlink/c_library.git
[submodule "mavlink/include/mavlink/v2.0"]
	path = mavlink/include/mavlink/v2.0
	url = git://github.com/mavlink/c_library.git
[submodule "NuttX"]
	path = NuttX
	url = git://github.com/PX4/NuttX.git
[submodule "Tools/genmsg"]
	path = Tools/genmsg
	url = git://github.com/ros/genmsg.git
[submodule "Tools/gencpp"]
	path = Tools/gencpp
	url = git://github.com/ros/gencpp.git
[submodule "src/lib/ecl"]
	path = src/lib/ecl
	url = git://github.com/PX4/ecl.git
[submodule "src/drivers/gps/devices"]
	path = src/drivers/gps/devices
	url = git://github.com/PX4/GpsDrivers.git
[submodule "cmake/cmake_hexagon"]
	path = cmake/cmake_hexagon
	url = git://github.com/ATLFlight/cmake_hexagon.git
[submodule "src/lib/matrix"]
	path = src/lib/matrix
	url = git://github.com/PX4/Matrix.git
[submodule "src/lib/DriverFramework"]
	path = src/lib/DriverFramework
	url = git://github.com/PX4/DriverFramework.git
